h2 {
    width: 550px;
    margin-left: 600px;
    font-family: 'Segoe UI';
}
h4 {
    width: 500px;
    margin-left: 650px;
    font-family: 'Segoe UI';
}
ul {
    margin-left: 630px;
    font-family: 'Segoe UI';
    color: rgb(158, 172, 172);
}
hr{
    width: 500px;
    margin-left: 650px;
}
p {
    width: 500px;
    margin-left: 650px;
    font-family: 'Segoe UI';
}
img {
    width: 650px;
    margin-left: 650px;
}
